/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
@layer base {
    /* Font - Atkinson Hyperlegible */
    @font-face {
        font-family: 'Atkinson Hyperlegible';
        font-weight: 700;
        font-display: swap;
        src: url('$lib/assets/fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Atkinson Hyperlegible';
        font-weight: 400;
        font-display: swap;
        src: url('$lib/assets/fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2');
    }

    /* Font - Outfit */
    @font-face {
        font-family: 'Outfit';
        font-weight: 400;
        font-display: swap;
        src: url('$lib/assets/fonts/Outfit-Regular.woff2') format('woff2');
    }

    html {
        @apply bg-black text-white font-sans trim-both text-base;
    }

}